body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url('black-hole.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #e7e7e7;
}

label {
  min-width: 65px;
}

input {
  max-width: 90%;
}

h1,h2,{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h1, {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

p,li {
  font-size: 1.2em;
  padding-top: 20px;
  line-height: 30px;
}

li {
  padding-bottom: 10px;
}

canvas {
    border-radius: 10px;
}

button {
  text-align: center !important;
  margin: 10px 5px 10px 5px !important;
}

.valid {
  color: #71ad58;
}

.invalid {
  color: #820a16;
}

.header {
  font-size: 2.0em !important;
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600 !important;
}


.solving {
  padding-left: 40px;
}

#about-close {
  text-align: center;
  margin: auto;
}

#wrapper {
  opacity: 0;
}

#title {
  text-align: center;
  padding-bottom: 50px;
  padding-top: 20px;
}

#about {
  color: black;
  text-align: justify;
  padding: 30px 16% 80px 16%;
}

#canvas-container {
  text-align: center;
}

#interface {
  margin: 0 auto;
}

#simulation-details {
  text-align: center;
  padding-top: 30px;
  opacity: 0;
}

@keyframes fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade-in {
  animation: fade-in 1s forwards;
}
